<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khusnia.mylaundry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.khusnia.mylaundry.AboutActivity"></activity>
        <activity
            android:name="com.khusnia.mylaundry.HomeActivity"
            android:theme="@style/AppThemee" />
        <activity
            android:name="com.khusnia.mylaundry.DetailKontrakan"
            android:parentActivityName="com.khusnia.mylaundry.MainActivity" />
        <activity android:name="com.khusnia.mylaundry.signin.SignupActivity" />
        <activity android:name="com.khusnia.mylaundry.signin.SigninActivity" />
        <activity
            android:name="com.khusnia.mylaundry.SplashscreenActivity"
            android:theme="@style/AppThemee">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.khusnia.mylaundry.MainActivity" />
    </application>

</manifest>